<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin God Table</h3>
    <table border='1'>
        <thead>
            <th>God ID</th>
            <th>God Name</th>
            <th>Primary Role ID</th>
            <th>Primary Class ID</th>
            <th>Primary Type ID</th>
        </thead>
        <tbody>
            {% for r in godRows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
                <td> {{ r[3] }}</td>
                <td> {{ r[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Gods:</h3>
    <form id="addGods" action="/adminGods" method="post">
        God name: <input type="text" name="god_name"><br>
        Primary Role: <select name="role"><br>
            <!--{% for r in roleRows %}  -->
            <option value="{{r.roleID}}">{{r.role_name}}</option>
            <!--{% endfor %} -->
        </select><br>
        Primary Class: <select name="class"><br>
             <!--{% for r in classRows %} -->
            <option value="{{r.classID}}">{{r.class_name}}</option>
            <!-- {% endfor %} -->
        </select><br>
        Primary Type: <select name="type"><br>
            <!-- {% for r in typeRows %} -->
            <option value="{{r.typeID}}">{{r.type_name}}</option>
            <!-- {% endfor %} -->
        </select><br>
    <br>
    <input type="submit" value="Submit">
    </form>
</html>