<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin Roles Table</h3>
    <table border='1'>
        <thead>
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Role Description</th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Roles:</h3>
    <form id="addRole" action="/addRole" method="post">
        Class name: <input type="text" name="userRoleName"><br>
        Class description: <input type="text" name="userRoleDescription"><br>
    <input type="submit" value="Submit">
</html>