<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin God Table</h3>
    
    <form id='filter_gods' action='' method=''>
        <!--- this form does not submit directly, the button handles all the interaction with backend -->
            <label> Filter by Class, Type, or Role </label>
            <select id='god_filter' name="god"> 
                {% for r in classRows %}
                <option value="{{r.classChoice}}">Class - {{ r[1] }}</option>
                {% endfor %}
                {% for r in roleRows %}
                <option value="{{r.roleChoice}}">Role - {{ r[1] }}</option>
                {% endfor %} 
                {% for r in typeRows %}
                <option value="{{r.typeChoice}}">Type - {{ r[1] }}</option>
                {% endfor %} 
            </select><br>
            <input type="button" value="Filter" onclick="filterGodsByClass()"> <!--This will be a placeholder function name until we figure out what we want to do on the backend-->
        </form>
    
    <table border='1'>
        <thead>
            <th>God ID</th>
            <th>God Name</th>
            <th>Primary Role</th>
            <th>Primary Class</th>
            <th>Primary Type</th>
        </thead>
        <tbody>
            {% for r in godRows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
                <td> {{ r[3] }}</td>
                <td> {{ r[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Gods:</h3>
    <form id="addGods" action="/addGod" method="post">
        God name: <input type="text" name="userGodName"><br>
        Primary Role: <select name="userRole"><br>
            {% for r in roleRows %}
            <option value="{{ r.0 }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
        Primary Class: <select name="userClass"><br>
             {% for r in classRows %}
            <option value="{{ r.0 }}">{{ r[1] }}</option>
             {% endfor %}
        </select><br>
        Primary Type: <select name="userType"><br>
            {% for r in typeRows %}
            <option value="{{ r.0 }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
    <br>
    <input type="submit" value="Submit">
    </form>
</html>