<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleNavBar.css') }}">
    </head>
    <body>
        <div class="navigationBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="gods">Gods</a></li>
                <li><a href="items">Items</a></li>
                <li><a href="adminGods">Admin God Table</a></li>
                <li><a href="adminTypes">Admin Types Table</a></li>
                <li><a href="adminClasses">Admin Classes Table</a></li>
                <li><a href="adminItems">Admin Items Table</a></li>
                <li><a href="adminItemTypes">Admin Item Types Table</a></li>
                <li><a href="adminRoles">Admin Roles Table</a></li>
                <li class="activePage"><a href="adminBuilds">Admin Builds Table</a></li>
            </ul>
        </div>
        
	<h3>Select a God to See their Build</h3>
	
	<form id="selectGod" action="/adminBuilds" method="post">
        Select a God: <select name="userGodChoice"><br>
            {% for r in charRows %}
            <option value="{{ r[0] }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
    <input type="submit" value="Select">
    </form>

    {% if showBuilds == 1 %}
    <h3> Builds for the chosen god shown below </h3>
        {% for r in buildRows %}
                <details>
                    <summary> {{ r[0] }} </summary>
                    <p> {{ r[1] }} </p>
                </details>
        {% endfor %}
    {% endif %}
    
    <h3>Insert new Items to a God's Build</h3>

    <form id="selectGod" action="/addBuildItem" method="post">
        Select a God: <select name="userGodChoice"><br>
            {% for r in charRows %}
            <option value="{{ r[0] }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
        Item Choice: <select name="userItemChoice"><br>
            {% for r in itemRows %}
            <option value="{{ r[0] }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
    <input type="submit" value="Select">
    </form>

    </body>
</html>