<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin Class Table</h3>
    <table border='1'>
        <thead>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for r in classRows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Classes:</h3>
    <form id="addClass" action="/addClass" method="post">
        Class name: <input type="text" name="userClassName"><br>
        Class description: <input type="text" name="userClassDescription"><br>
    <input type="submit" value="Submit">
</html>