<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleNavBar.css') }}">
    </head>
    <body>
        <div class="navigationBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="gods">Gods</a></li>
                <li><a href="items">Items</a></li>
                <li><a href="adminGods">Admin God Table</a></li>
                <li><a href="adminTypes">Admin Types Table</a></li>
                <li class="activePage"><a href="adminClasses">Admin Classes Table</a></li>
                <li><a href="adminItems">Admin Items Table</a></li>
                <li><a href="adminItemTypes">Admin Item Types Table</a></li>
                <li><a href="adminRoles">Admin Roles Table</a></li>
                <li><a href="adminBuilds">Admin Builds Table</a></li>
            </ul>
        </div>
    <h3>Admin Class Table</h3>
    <table border='1'>
        <thead>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for r in classRows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Classes:</h3>

    <form id="addClass" action="/addClass" method="post">
        Class name: <input type="text" name="userClassName"><br>
        Class description: <input type="text" name="userClassDescription"><br>
    <input type="submit" value="Submit">
    </body>
</html>