<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin Item Types Table</h3>
    <table border='1'>
        <thead>
            <th>Item Types ID</th>
            <th>Item ID</th>
            <th>Type ID</th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
                <td> <button type="button">Edit Entry</button> </td>
                <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_Item_Types/{{r[4]}}'"> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Assign classification types to existing items:</h3>
    <form id="addItemTypes" action="/adminItemTypes" method="post">
         Item: <select name="item"><br>
            {% for r in itemRows %}
            <option value="{{r.itemID}}">{{r.item_name}}</option>
            {% endfor %}
        </select><br>
         Type: <select name="type"><br>
             {% for r in typeRows %}
            <option value="{{r.typeID}}">{{r.type_name}}</option>
             {% endfor %}
        </select><br>
    <input type="submit" value="Submit">
    </form>
</html>