<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin Item Types Table</h3>
    <table border='1'>
        <thead>
            <th>Item Types ID</th>
            <th>Item</th>
            <th>Type</th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td> {{ r[0] }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
                <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_Item_Types/{{r[0]}}'"> </td>
                <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_Item_Types/{{r[1]}}/{{r[2]}}'"> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Assign classification types to existing items:</h3>
    <form id="addItemTypes" action="/addItemType" method="post">
         Item: <select name="userItem"><br>
            {% for r in itemRows %}
            <option value="{{ r[0] }}">{{ r[1] }}</option>
            {% endfor %}
        </select><br>
         Type: <select name="userType"><br>
             {% for r in typeRows %}
             <option value="{{ r[0] }}">{{ r[1] }}</option>
             {% endfor %}
        </select><br>
    <input type="submit" value="Submit">
    </form>
</html>