<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
    </head>
    <h3>Admin Items Table</h3>
    <table border='1'>
        <thead>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Effect</th>
        </thead>
        <tbody>
            {% for r in itemRows %}
            <tr>
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h3>Insert new Items:</h3>
    <form id="addItems" action="/addItem" method="post">
        Item name: <input type="text" name="userItemName"><br>
        Item effect: <input type="text" name="userItemEffect"><br>
    <input type="submit" value="Submit">
</html>