<!doctype html>
<html>
    <head>
        <title>SMITE Build Guide</title>
        <!-- CSS will go here if we have time-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleHome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleNavBar.css') }}">
    </head>
    <body>
        
        <div class="headerTitle">
            <h1>Smite Database</h1>
        </div>
        <div class="navigationBar">
            <ul>
                <li class="activePage"><a href="/">Home</a></li>
                <li><a href="gods">Gods</a></li>
                <li><a href="items">Items</a></li>
                <li><a href="adminGods">Admin God Table</a></li>
                <li><a href="adminTypes">Admin Types Table</a></li>
                <li><a href="adminClasses">Admin Classes Table</a></li>
                <li><a href="adminItems">Admin Items Table</a></li>
                <li><a href="adminItemTypes">Admin Item Types Table</a></li>
                <li><a href="adminRoles">Admin Roles Table</a></li>
                <li><a href="adminBuilds">Admin Builds Table</a></li>
            </ul>
        </div>
        Site Description: This is a site mean for players to be able to see the Gods, Items, and Builds for the MOBA Game SMITE. Descriptions for each page will be located below. 
        <br>
        Gods/Items pages: Ignore this pages as they have no functionality except to display final results to user
        <br>
        
        
        <br>
        Admin God Table: This page allows Admins to view the available "Gods" table and INSERT new gods if need be also allows for the FILTER of gods based on their class, role, or type
        <br>
        
        <br>
        Admin Types Table: This page allows Admins to view the available "Types" in the game and INSERT new types if need be
        <br>
        
        <br>
        Admin Classes Table: This page allows Admins to view the available "Classes" in the game and INSERT new classes if need be
        <br>
        
        <br>
        Admin Items Table: This page allows Admins to view the available "Items" in the game and INSERT new items if need be
        <br>
        
        <br>
        Admin Item Types Table: This page allows Admins to assign existing types to existing items. It will also allow admins to DELETE types from items AND/OR UPDATE types from items. Note: An item must atleast have 1 type.
        <br>
        
        <br>
        Admin Roles Table: This page allows Admins to view the available "Roles" in the game and INSERT new roles if need be
        <br>
        
        <br>
        Admin Builds Table: This page allows Admins to view the current build for any God and INSERT new items into the build
        <br>
        
        <br>
        NOTE: Most functionality resides in the admin pages. Admin pages are not meant to be used to change tables very often. For example it is highly unlikely that new classes and roles will ever be added into the game, but the functionality is there just incase the game undergoes drastic changes. Whereas adding new gods, types, items, etc. is much more likely but only happens a handful of times throughout the year.
    </body>
</html>