<!doctype html>
<html>
    <head>
        <title>SMITE Items</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleGods.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleNavBar.css') }}">
    </head>
    <body>
        <div class="navigationBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="gods">Gods</a></li>
                <li class="activePage"><a href="items">Items</a></li>
                <li><a href="adminGods">Admin God Table</a></li>
                <li><a href="adminTypes">Admin Types Table</a></li>
                <li><a href="adminClasses">Admin Classes Table</a></li>
                <li><a href="adminItems">Admin Items Table</a></li>
                <li><a href="adminItemTypes">Admin Item Types Table</a></li>
                <li><a href="adminRoles">Admin Roles Table</a></li>
                <li><a href="adminBuilds">Admin Builds Table</a></li>
            </ul>
        </div>
        <h3>Table of Items</h3>
        <table border='1'>
            <thead>
                <th>Item Name</th>
                <th>Item Effect</th>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td> {{ r[1] }}</td>
                    <td> {{ r[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Show Item Type(s) for:</h3>
        <form id="getItemType" action="/items" method="post">
        Item: <select name="itemTypeChoice"><br>
           {% for r in rows %}
           <option value="{{ r[0] }}">{{ r[1] }}</option>
           {% endfor %}
       </select><br>
   <input type="submit" value="Submit">
   </form>

    {% if showTypes == 1 %}
    <h3>Item type(s)</h3>
        {% for r in typeRows %}
                {{ r[0] }} <br>
        {% endfor %}
    {% endif %}


    </body>
</html>