<h3>Update Item Type</h3>
<table border='1'>
    <thead>
        <th>Item Types ID</th>
        <th>Item</th>
        <th>Type</th>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td> {{ r[0] }}</td>
            <td> {{ r[1] }}</td>
            <td> {{ r[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<form id="update_Item_Types" action="/update_Item_Types" method="post">
        New Type: <select name="userType"><br>
            {% for r in rows %}
            <option value="{{ r.0 }}">{{ r[1] }}</option>
            {% endfor %}
       </select><br>
   <input type="submit" value="Submit">
   </form>